.builderall-error-404 {
  background-repeat: no-repeat;
  text-align: center;
  height: 100vh;
  position: relative;
  display: block;
  background:
    url(../../assets/img/404.png) top left/contain no-repeat,
    url(../../assets/img/404-note-green.png) 90% 25%/105px no-repeat,
    url(../../assets/img/404-note-pink.png) 80% 80%/105px no-repeat,
    #e5e9f0;
}

.builderall-error-404 div {
  padding: 12%;
}

@media screen and (max-width: 768px) {
  .builderall-error-404 {
    background: url(../../assets/img/404.png) 25%/cover no-repeat;
  }
}